<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nunit_Test_Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nunit_Test_Runner.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Nunit_Test_Runner.Properties.Settings>
            <setting name="dllpath" serializeAs="String">
                <value />
            </setting>
            <setting name="runnerpath" serializeAs="String">
                <value />
            </setting>
            <setting name="respath" serializeAs="String">
                <value />
            </setting>
            <setting name="categories" serializeAs="String">
                <value />
            </setting>
        </Nunit_Test_Runner.Properties.Settings>
        <Nunit_Test_Runner.Settings1>
            <setting name="dllpath" serializeAs="String">
                <value />
            </setting>
            <setting name="runnerpath" serializeAs="String">
                <value />
            </setting>
        </Nunit_Test_Runner.Settings1>
    </userSettings>
</configuration>